﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TutorialCS.Models.CreateModel
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css" />

    <script src="~/Scripts/chosen.jquery.js"></script>



    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />



    <link href="@Url.Content("~/Media/layout.css")" rel="stylesheet" type="text/css" />
    <style>
        p, body, td {
            font-family: Tahoma, Arial, Sans-Serif;
            font-size: 10pt;
        }
    </style>
    <title></title>


    <!-- Code to wire up your DatePicker -->
    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd M yy",

            });

            $('div.toggleIt').click(function () {
                $('div.toToggle').toggle();
            });

            $('.unlimitedRadio').change(function () {
                var textBox = document.getElementById('recDate');
                $(".recAmount").attr("disabled", true);
                $(".recAmount").val("");
                textBox.disabled = true;
                textBox.value = '';

            });
            
            $('.recDateRadio').change(function () {

                var textBox = document.getElementById('recDate');
                $(".recAmount").attr("disabled", true);
                $(".recAmount").val("");
                textBox.disabled = false;
            });


            $('.recAmountRadio').change(function () {

                var textBox = document.getElementById('recDate');
                $(".recAmount").attr("disabled", false);
                textBox.disabled = true;
                textBox.value = '';
            });
        });
        

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".chosen-select-multiple").chosen(
                {
                    disable_search_threshold: 10,
                    no_results_text: "Oops, nothing found!",
                    width: "100%"
                });

            $(".chosen-select-single").chosen({
                
                width: "100%"
            });
    
       
        });
    </script>


</head>
<body style="padding:10px">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "f" }))
    {

        <h1>Neue Abwesenheit</h1>
        <div class="container-fluid well">
            <div>Projekt</div>
            <div>@Html.HiddenFor(m => m.projectDropList)</div>
            <div>@Html.ListBoxFor(x => x.SelectedID, Model.projectDropList, new { @class = "chosen-select-multiple", @required = true, style = "width:200px;" })</div>
            <div>@Html.HiddenFor(m => m.projectList) </div>
            <div>Start</div>
            <div>@Html.TextBoxFor(m => m.StartDate, "{0:d MMM yyyy}", new { @class = "date-picker form-control", @required = true })</div>

            <div>Ende</div>
            <div>@Html.TextBoxFor(m => m.EndDate, "{0:d MMM yyyy}", new { @class = "date-picker form-control", @required = true })</div>

            <div>Mitarbeiter</div>
            <div>@Html.HiddenFor(m => m.EmpDropDown)</div>
            <div>@Html.ListBoxFor(x => x.SelectedEmpID, Model.EmpDropDown, new { @class = "chosen-select-multiple form-control", @required = true, style = "width:200px;" })</div>
        </div>


            <div class="toggleIt ">Serienelemente <span class="glyphicon glyphicon-arrow-down"></span> </div>

            <div class="toToggle" hidden="hidden">
                <div class="well">
            
                    @Html.DropDownListFor(x => x.SelectedRecurrID, Model.recurrDropList, new { @class = "chosen-select-single", @multiple = false, style = "width:200px;" })
                </div>
                <div class="divider"> </div>
                <div class="well">
                @Html.RadioButtonFor(m => m.SelectedValue, "Option1", new { @class="unlimitedRadio" }) @Html.Label("Ohne Limit") <br>
                @Html.RadioButtonFor(m => m.SelectedValue, "Option2", new { @class = "recDateRadio" }) @Html.Label("läuft bis zum: ") <div>@Html.TextBoxFor(m => m.RecEndDate, "{0:d MMM yyyy}", new { @class = "date-picker form-control", @name = "recDate", @id = "recDate", @disabled = true })</div><br />
                @Html.RadioButtonFor(m => m.SelectedValue, "Option3", new { @class = "recAmountRadio" }) @Html.Label("läuft ") @Html.TextBoxFor(m => m.recAmount, new { @type = "number",@id="recAmount",@class="recAmount" , @name = "recAmount" ,@min = "0", @disabled = true, style = "width:30px;"   })  mal<br />


                </div>
            </div>
            <div class="space">
                <input type="submit" value="Speichern"  class="btn btn-default" />
                <a href="javascript:close()">Abbrechen</a>
            </div>
            <div class="space">&nbsp;</div>

    }

    <script type="text/javascript">
        function close(result) {
           // alert('test1');
            if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
                parent.DayPilot.ModalStatic.close(result);

            }


        }

        $("#f").submit(function () {
           // alert('test2');
            var f = $("#f");
           // alert("" + f);
            $.post(f.action, f.serialize(), function (result) {
                close(eval(result));
            });
            return false;
        });

        $(document).ready(function () {
          //  alert('test3');
            $("#Text").focus();
        });

    </script>





</body>


</html>
