﻿@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  TutorialCS.Models.EditViewModel
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.4.1.min.js")"></script>
    <link href="@Url.Content("~/Media/layout.css")" rel="stylesheet" type="text/css" />
   	<style>
   	p, body, td { font-family: Tahoma, Arial, Sans-Serif; font-size: 10pt; }
   	</style>


    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.4.1.min.js")"></script>
    <!-- jQuery UI CSS Reference -->
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css" />


    <title></title>
        <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd M yy,"
            });
            
            $('div.toggleIt').click(function () {
                $('div.toToggle').toggle();
            });

            $('.unlimitedRadio').change(function () {
                var textBox = document.getElementById('recDate');
                $(".recAmount").attr("disabled", true);
                $(".recAmount").val("");
                textBox.disabled = true;
                textBox.value = '';

            });
            
            $('.recDateRadio').change(function () {

                var textBox = document.getElementById('recDate');
                $(".recAmount").attr("disabled", true);
                $(".recAmount").val("");
                textBox.disabled = false;
            });


            $('.recAmountRadio').change(function () {

                var textBox = document.getElementById('recDate');
                $(".recAmount").attr("disabled", false);
                textBox.disabled = true;
                textBox.value = '';
            });
            $(".chosen-select-single").chosen({

                width: "100%"
            });
        });

    </script>
</head>
<body style="padding:10px">
    <form id="f" method="post" action="@Url.Action("Edit")">
    <h2>Abwesenheit bearbeiten</h2>

    <div style="margin-top:20px">
        <div>Project</div>
        
        @Html.HiddenFor(m=>m.ID)
        @Html.TextBoxFor(m=>m.Eventname, new { @class = "form-control" }  )
    </div>

    <div>Start</div>
    <div>@Html.TextBoxFor(m=>m.StartDate, "{0:d MMM yyyy}", new { @class = "date-picker form-control" })</div>

    <div>Ende</div>
    <div>@Html.TextBoxFor(m => m.EndDate, "{0:d MMM yyyy}", new { @class = "date-picker form-control" })</div>
    
     <div>Mitarbeiter</div>
    <div>@Html.TextBoxFor(m=>m.EmployeeName, new { @class = "form-control" })</div>

        <div class="toggleIt ">Serienelemente <span class="glyphicon glyphicon-arrow-down"></span> </div>

        <div class="toToggle" hidden="hidden">
            <div class="well">

                @Html.DropDownListFor(x => x.SelectedRecurrID, Model.recurrDropList, new { @class = "chosen-select-single", @multiple = false, style = "width:200px;" })
            </div>
            <div class="divider"> </div>
            <div class="well">
                @Html.RadioButtonFor(m => m.SelectedValue, "Option1", new { @class = "unlimitedRadio" }) @Html.Label("Ohne Limit") <br />
                @Html.RadioButtonFor(m => m.SelectedValue, "Option2", new { @class = "recDateRadio" }) @Html.Label("läuft bis zum: ") <div>@Html.TextBoxFor(m => m.RecEndDate, "{0:d MMM yyyy}", new { @class = "date-picker form-control", @name = "recDate", @id = "recDate", @disabled = true })</div><br />
                @Html.RadioButtonFor(m => m.SelectedValue, "Option3", new { @class = "recAmountRadio" }) @Html.Label("läuft ") @Html.TextBoxFor(m => m.recAmount, new { @type = "number", @id = "recAmount", @class = "recAmount", @name = "recAmount", @min = "0", style = "width:30px;" })  mal<br />
            </div>
        </div>

    <div style="margin-top:20px">
        <input type="submit" value="Speichern" class="btn btn-default" />
        <a href="javascript:close()">Abbrechen</a>
    </div>
    
    </form>
    
    <script type="text/javascript">
        function close(result) {
            if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
                parent.DayPilot.ModalStatic.close(result);
            }
        }

        $("#f").submit(function () {
            var f = $("#f");
            $.post(f.action, f.serialize(), function (result) {
                close(eval(result));
            });
            return false;
        });

        $(document).ready(function () {
            $("#Text").focus();
        });
    
    </script>
    
</body>
</html>
