﻿@using DayPilot.Web.Mvc;
@using DayPilot.Web.Mvc.Events
@using DayPilot.Web.Mvc.Events.Scheduler;
@using DayPilot.Web.Mvc.Enums.Scheduler;

@model TutorialCS.Models.ViewModel



@{
    ViewBag.Title = "Übersicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<html>
<head>
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">

    <script src="~/Scripts/chosen.jquery.js"></script>


   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />


</head>


<body>

<!-- Code for Calender Events -->
<script type="text/javascript">
function timeRangeSelected(start, end, resource) {
    var modal = new DayPilot.Modal();

  modal.top = 60;
  modal.width = 300;
  modal.opacity = 70;
  modal.border = "10px solid #d0d0d0";
  modal.closed = function() {
      if(this.result == "OK") {
          dps.commandCallBack('refresh');
      }
      dps.clearSelection();
  };

  //alert('test');
  var url = " @Url.Action("Create", "Event")"
    url += "?start=" + start.toStringSortable() + "&end=" + end.toStringSortable() + "&resource=" + resource;
   // alert('' + url);

    modal.showUrl(url);
}

/* Recurrence dialogs */
function ask(e) {
    //alert('' + e.name);
    // it's a normal event
    var serie = e.recurrent();
    if (serie==true) {
        var id = e.recurrentMasterId();
        e.data.id = id;
        edit(e);
        return;
    }
    if (!e.recurrent()) {
        if (e.data.text != "Abwesenheit") {
            edit(e);
            return;
        }
    return
    }
    
    // it's a recurrent event but it's an exception from the series
    if (e.value() !== null) {
        //alert('' + e.value);
        
        edit(e);
        return;
    }

    var modal = new DayPilot.Modal();
    modal.width = 300;
    modal.height = 150;
    alert('test');
    modal.closed = function () {
        if (this.result != "cancel") {
            edit(e, this.result);
        }
    };

    modal.showUrl('@Url.Action("RecurrentEditMode", "Event")');
}

    function test(e) {

        
    }

function edit(e, mode) {
    var modal = new DayPilot.Modal();
  
    modal.closed = function () {
        if (this.result === "OK") {
            dps.commandCallBack('refresh');
        }
    };

    var url = "@Url.Action("Edit", "Event")";
    if (e.id() !== null) {
        url += "/" + e.id();
    }
    url += "?";
   // alert('' + url);
    if (e.recurrentMasterId()) {
        url += "master=" + e.recurrentMasterId() + "&";
    }
    if (mode == "this") {
        url += "start=" + e.start().toStringSortable();
    }
    modal.showUrl(url);
}
    </script>



    <!-- Code to wire up your DatePicker -->
    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker({
                changeMonth: true,
                changeYear: true,

                dateFormat: "dd M yy",

            });
        });
    </script>

  
    <script type="text/javascript">
     $(document).ready(function () {
            $(".chosen-select-multiple").chosen(
                {
                    disable_search_threshold: 10,
                    no_results_text: "Oops, nothing found!",
                    width: "100%",
                });
            $(".chosen-select-single").chosen(
                {
                    no_results_text: "Oops, nothing found!",
                    placeholder_text_single: "mittels Projekten",
                    width: "100%",
                }).change(function (event) {

                if (event.target == this) {
                    //alert($(this).val());
                }
                var id = $(this).val();


                var modal = new DayPilot.Modal();
                modal.top = 60;
                modal.width = 300;
                modal.opacity = 70;
                modal.border = "10px solid #d0d0d0";
                modal.closed = function() {
                    if(this.result == "OK") {
                        dps.commandCallBack('refresh');
                    }
                    dps.clearSelection();
                };

                var url = " @Url.Action("CreateFromDropdown", "Event")"
                url += "?id="+id+"&start=" + "" + "&end=" + "" + "&resource=" +"";
                modal.showUrl(url);

            });

        });
    </script>




    <div class="row jumbotron container-fluid text-center">
       

            <div class="col-lg-2">
                <img src="~/Media/pics/Wort-Bildmarke_4c.jpg" width="100%" />
            </div>
            <div class="col-lg-9">
                <div >
                    <h1>consus Personal Planung</h1>
                </div>
            </div>
        <div class="col-lg-1">

            @Html.ActionLink("Logout", "LogOut", "Home",null, new { @class = "btn btn-danger btn-sm" })
            
            </div>
        </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
				<div class="well well-sm">
					@using (Html.BeginForm())
					{
						<h4>Abteilungen</h4>
						@Html.HiddenFor(m => m.DepartDropDown)
						@Html.ListBoxFor(x => x.SelectedIds, Model.DepartDropDown, new { @class = "chosen-select-multiple form-control", style = "width:200px;" })
						<h4>Projekte</h4>
						@Html.HiddenFor(m => m.FilterProjectDropDown)
						@Html.ListBoxFor(x => x.FilterProjectSelectedID, Model.FilterProjectDropDown, new { @class = "chosen-select-multiple form-control", style = "width:200px;" })
						<br />
						<h4>anfang</h4>
						@Html.TextBoxFor(m => m.StartDate, new { @class = "date-picker form-control" })
						<h4>ende</h4>
						@Html.TextBoxFor(m => m.EndDate, new { @class = "date-picker  form-control" })
						<input type="submit" name="submit" value="refresh" class="btn btn-default">
					}
				</div>



                <div class="well well-sm">
                    <h4>Neues Event</h4>
                    @Html.DropDownListFor(x => x.ProjectSelectedID, Model.ProjectDropDown, new { @class = "chosen-select-single form-control", @multiple=false, style = "width:200px;" })
                </div>
            </div>

            <div class="col-lg-10">
                @Html.DayPilotMenu("menu", new DayPilotMenuConfig
           {
               Theme = "menu_default",
               Items = new MenuItemCollection
                   {
                        new MenuItem { Text = "Öffnen", Action = DayPilot.Web.Mvc.Enums.MenuItemAction.JavaScript, JavaScript = "ask(e);"},
                        new MenuItem { Text = "Löschen", Action = DayPilot.Web.Mvc.Enums.MenuItemAction.JavaScript, JavaScript = "if (confirm('Sind Sie sicher,dass Sie diese Abwesenheit löschen wollen?')) { dps.eventDeleteCallBack(e); }"},
                        new MenuItem { Text = "Copy", Action = DayPilot.Web.Mvc.Enums.MenuItemAction.JavaScript, JavaScript = "dps.eventDoubleClickCallBack(e);" },
                        
                    }
                })

                @Html.DayPilotMenu("menu_selection", new DayPilotMenuConfig
                {
                    Items = new DayPilot.Web.Mvc.MenuItemCollection
                    {
                        new MenuItem { Text = "Einfügen", Action = DayPilot.Web.Mvc.Enums.MenuItemAction.JavaScript, JavaScript="dps.timeRangeSelectedCallBack(this.source.start, this.source.end, this.source.resource);" }
                    }
                })

                @Html.DayPilotScheduler("dps", new DayPilotSchedulerConfig
                {
                   BackendUrl = Url.Action("Backend", "Scheduler"),


                   CellGroupBy = DayPilot.Web.Mvc.Enums.GroupBy.Month,
                   CellDuration = 1440,

                   Days = Convert.ToInt16(Session["EndDate"]),
                   StartDate = Convert.ToDateTime(Session["StartDate"]),

                   EventEndSpec=DayPilot.Web.Mvc.Enums.DateTimeSpec.Date,
                   CellWidthSpec = (CellWidthSpec)(Session["AutoWidth"]),

                   Crosshair = CrosshairType.Full,

                   Theme = "scheduler_white",
                   EventHeight = 25,
                   CellWidth = 50,

                   TimeHeaders = new TimeHeaderCollection
                        {
                            new TimeHeader { GroupBy =DayPilot.Web.Mvc.Enums.GroupBy.Month, Format = "MMMM yyyy"},
                            new TimeHeader { GroupBy = DayPilot.Web.Mvc.Enums.GroupBy.Day, Format = "ddd. dd"}
                        },

                   RowMarginBottom = 15,
                   RowMarginTop = 5,
                   //RowMinHeight = 60,

                   MoveBy = DragArea.Full,

                  // ContextMenu = "menu",
                   ContextMenuSelection="menu_selection",
               
                   EventResizeHandling = EventResizeHandlingType.CallBack,
                   EventMoveHandling = EventMoveHandlingType.Notify,

                   EventRightClickHandling = EventRightClickHandlingType.ContextMenu,
               
                   EventClickHandling = EventClickHandlingType.JavaScript,
                   EventClickJavaScript = "ask(e);",

                   TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
                   TimeRangeSelectedJavaScript = "timeRangeSelected(start, end, resource);",

               })

            </div>

         

            <div class="col-lg-1">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-10">

            </div>
        </div>
    </div>
</body>

</html>





